<div class="w-full flex	gap-2 order-list-container">
    <div class="px-2 py-2 order-list" *ngFor=" let item of arr">
        <h1 class="w-40 text-ellipsis overflow-hidden text-nowrap text-center" title="Gangadhar urf shaktiman">Gangadhar
            urf shaktiman</h1>
        <div>
            <span>
                3 items
            </span> <b>.</b>
            <span> Table 2</span>
        </div>

        <button class="rounded-lg px-2 py-1 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">
            Waiting
        </button>
    </div>
</div>