<section class="w-full h-full">
    <div class="bg-red-500 py-2 px-2 w-full">
        <div class="w-full bg-white flex justify-between my-2 py-2 px-2 rounded-lg">
            <div>Name</div>
            <div>Search</div>
        </div>
        <app-order-list></app-order-list>
    </div>
    <div class=" w-full">
        <app-menu-pos></app-menu-pos>
    </div>

    <div class="w-full flex justify-between px-2 py-3 bg-black text-white">
        <button
            class="flex justify-center gap-2 items-center rounded-lg px-2 py-1 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">

            <i class="fa-solid fa-sort-up mt-1.5"></i>
            <span>7 items</span>
        </button>
        <div>
            <button
                class="rounded-lg px-2 py-1 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">Transaction</button>
        </div>

    </div>
</section>